<h2 style="color: green;">Products List</h2>


<table >
    <thead style="color: tomato;">
    <tr>
        <th>Product Name</th>
        <th>Quantity</th>
    </tr>
</thead>
<tbody style="color: royalblue;">
    <tr *ngFor="let i of ad">
        <!-- <td> {{i.name}}</td> -->
        <td><a (click)="myFunction(id)" [routerLink]="['/Products', i.name]">{{i.name}} </a></td>
        <td>{{i.quantity}}</td>
    </tr>
</tbody> 
</table>
<br><br>


<label style="color: red;">Enter product name : </label>
<input type="text" [(ngModel)]="name">
<label style="color: red;">Enter Quantity:</label>
<input type="number" [(ngModel)]="quantity">

<button style="color:slateblue;" (click)='addtoTable()' >Add Product</button>